
	/*********************************
 	 **  	  Layout Styles			**
 	 *********************************/
 	 div.container {
		width: 990px;
		color: black;
		margin: auto auto;
		text-align: left; /* IE 5 fix */
	}
 	div.banner {
	  	height: 100px;
	}
		.banner h1 {
			margin: 0;
			padding-left: 15px;
			line-height: 100px;
			color: white;
			font-weight: bold;
		}
	nav {
		height: 32px;
		background: #284c75;
		background: #41678d; /* Old browsers */
		background: -moz-linear-gradient(top,  #41678d 0%, #41678d 45%, #224567 55%, #224567 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#41678d), color-stop(45%,#41678d), color-stop(55%,#224567), color-stop(100%,#224567)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #41678d 0%,#41678d 45%,#224567 55%,#224567 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #41678d 0%,#41678d 45%,#224567 55%,#224567 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #41678d 0%,#41678d 45%,#224567 55%,#224567 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #41678d 0%,#41678d 45%,#224567 55%,#224567 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41678d', endColorstr='#224567',GradientType=0 ); /* IE6-9 */
		text-align:center;
		font-size:14px;
		border-radius: 2px;
	}
	nav a {
		color: white !important;
		font-weight: bold;
	}
	nav ul {
		list-style: none;
		margin: 0;
		padding-left: 20px;
		line-height: 32px;
	}
		nav li {
			float: left;
			margin-right: 2em;
		}
	table.main {
		/*background-image:url('../images/sandbackground.jpg');*/
	 	padding: 0px;
		color:#ffffff;
	 	width:990px;
	 	/*width: 1134px; */
	 	 /* width: 1234px; */
	 	margin: auto auto;
	 	margin-top: 20px;
		/*background-color:#a3a2a0;*/
	}

	table.main td {
	/*	color:white; */
	}
	td.midcol {
 	   	width: 644px;
		background-color:transparent;
		vertical-align:top;
	}
	td.rightcol {
		vertical-align:top;
	}
	td.leftcol {
 		width: 275px;
		vertical-align:top;
	}
	div.footer {
		text-align:center; 
		font-family:verdana; 
		font-size:10pt; 
		color:#5e5e5e;
		background-color:#333333;
		border-top: 1px solid #5e5e5e;
		margin-top: 30px;
		padding: 15px;
	}	
	
	/*********************************
 	 **  	  Content Styles		**
 	 *********************************/	
	div.contentBorder1 {
		background-color:white;
		border:1px solid #3666ba;
	}
	div.contentBorder2 {
		background-color:white;
		border:1px solid #333333; 
	}
 	div.contentHeading {
		background-image:url('../images/blockbackground.jpg');
		background-repeat:repeat-x;
		background-color:#112f50;
		height:25px;
		padding-left:10px;
		padding-right:10px;
		padding-top:5px;
		color:white;
	}
	div.content {
		padding:10px;
		color:#333333;
		/*background-color:#383838;
		color:white; */
		background-color:#f1f1f1;
		/*width: 644px !important;*/
	}	
	div.content img {
		padding:10px;	
	}
	div.contentFooter {
	    border-top:1px solid #333333; 
		background-color:#a4a4a4;
		color:white;
		padding-left:5px;
		padding-right:5px;	
	}
	span.footer-text {
		font-size: 10px;	
	}
	
	.clear {
		clear: both;	
	}
	
	/*********************************
 	 **  	  Nav Links Styles		**
 	 *********************************/	
	table.navLinks a, table.navLinks a:visited, table.navLinks a:active {
		background-color:transparent;
		color:white;
		font-family:verdana;
		font-size:11px;
		font-weight:bold;
		text-decoration:none;
	}
	
	table.navLinks a:hover, table.navLinks a:visited:hover {
		background-color:transparent;
		color:#d2d2d2;
		font-size:11px;
		font-weight:bold;
		text-decoration:none;
	}
	
	table.navLinks {
		height:25px;
	}
	
	table.navLinks td {
		border-right: 1px solid #213f61;
		vertical-align:middle;
	} 
	
	/*********************************
 	 **  	  Misc.		 Styles		**
 	 *********************************/	
 	 
 	 h1, h2, h3, h4, h5, h6 {
 	 	font-family: Helvetica, Arial, sans-serif; 
		font-weight: normal;	 
 	 }
	table, tr, td {
		padding:0px;
		border:0px;
		margin:0px
	}
	body, td, div {
		font-size:10pt;
		/* color:black; */
		font-family:verdana;
		font-weight:normal;		
	}
	a, a:visited, a:active {
		background-color:transparent;
		color:#3666ba;
		font-family:verdana;
		font-size:12px;
		text-decoration:none;
	}
	
	a:hover, a:visited:hover {
		background-color:transparent;
		color:#3666ba;
		font-family:verdana;
		font-size:12px;
		text-decoration:underline;
	}
	a.rudi_roster, a.rudi_roster:visited, a.rudi_roster:active, a.rudi_roster:hover {
		color:#2b5bae;
	}
	body {
		background-color:#091a34;
		margin:0;
		padding:0;
		text-align:left;
	}
	a img {
		border:0px;
	}
	form {
		margin:0;
	}
	tr.rownorm{
		background-color:white;

	} 
	tr.rowhigh{
		background-color:#e0e0e0;
	}
	/* photo gallery styles */
    .photoleft{
    	background-image:url("../images/photoleft.png");
    	background-repeat:repeat-y;
     	text-align:center;
    	width:49px;
   	}
	.photoright{
		background-image:url("../images/photoright.png");
		background-repeat:repeat-y;
		text-align:center;
		width:49px;
    }
    /* end photo gallery styles */
    
    /* stuff we might need in order to add drop shadows */
    
    	div.topbar {
		height:25px; 
		text-align:center; 
		background-color:black;
		font-family:verdana; 
		font-size:10pt; 
		color:#797e4f;
	}
	div.botbar { 
		height:50px;
		padding:5px;
		text-align:center; 
		background-color:black;
		font-family:verdana; 
		font-size:10pt; 
	}
		/* may need these two when we add the background images back */  	 
	.leftbar {
	 /*	background-image:url("../images/leftshadow.png");   */
		background-repeat: 
		repeat-y; 
		width:50px;
	}		
	.rightbar {
		/* background-image:url("../images/rightshadow.png");  */
		background-repeat: 
		repeat-y; 
		width:15px;
	}
	
	
    .left{
            text-align:left;
    }
    .right{
            text-align:right;
    }
    .center{
            text-align:center;
    }
    .title{
            font-size:14px;
            font-weight:bold;
            font-family:arial;
    }

@import "style_bbcode.css"

