	.rss img {
		display: none;
	}
	.rss span.title{
		font-size: 10px;
		font-weight: bold;
		/* text-decoration:underline; */	
	}

	.rss span.date{
		font-family: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; 
		font-size: 11px; 
		text-transform: uppercase; 
		font-weight:bold;
		text-align: center; 
		letter-spacing: 2px;	
	}