/* START>> CALENDAR STYLES*/
		.monthTitle{
  			color:black;
            text-align:center;
            font-size:12px;
            font-weight:bold;
			font-family:arial;			
		}
		td.weekday {
			width:40px;
			height:20px;
            background-color:#cb2121;
            color:green;
            text-align:center;
            font-size:10px;
            font-weight:bold;
		}
		th.weekday {
			width:40px;
			height:29px;
            background-color:white;
            color:black;
            text-align:center;
            font-size:11px;
            font-weight:bold;
		}
		.monthday {
			width:40px;
			height:20px;
            background-color:#aea2a2;
            color:white;
            text-align:left;
            font-size:10pt;
            font-weight:bold;
                        
		}
		.monthtoday {
			width:38px;
			height:38px;
           /* background-color:#3666ba; */
            color:#225eac;
   			text-align:center;
   			font-size:14px;
            font-weight:bold;
            border:1px solid #333333;
		}
		.event {
			width:38px;
			height:38px;
            background-color:#225eac;
   			text-align:center;
            border:1px solid #333333;					
		}
		table.calendar a, table.calendar a:visited, table.calendar a:active, table.calendar a:hover {
			color:white;		
		}
		.eventtoday{
		 	width:38px;
			height:38px;
            background-color:#225eac;
            color:#ef8e25;
   			text-align:center;
   			font-size:14px;
            font-weight:bold;
            border:1px solid #333333;			
		}
		td.cal_weekday {
			width:40px;
			height:40px;
            background-color:#a1a1a1;
            vertical-align:top;
            color:#eeeeee;
            font-family:arial;
            text-align:center;
            font-size:14px;
		}
		td.cal_weekend {
			width:40px;
			height:40px;
            background-color:#8f8f8f;
            vertical-align:top;
            color:#eeeeee;
            font-family:arial;
            text-align:center;
            font-size:14px;
		}
		td.cal_notmonth {
			width:40px;
			height:40px;
            background-color:#6e6e6e;
            vertical-align:top;
            color:#d4d4d4;
            text-align:left;
            font-size:11px;
		}
/* END>> CALENDAR STYLES */