/* -----BODY STUFF----- */
body {height:auto; width:auto; font-family:'Arial', Sans-Serif; color:#333; margin:0; padding:0; background: #b8b8b8;
line-height:1.7em; padding:0; margin:0; font-size: 13px;}

/*--- P TAG STUFF ---*/
p {font-size: 12px; line-height: 1.7em;}
.entry{ }


#sidebar h2.widgettitle {padding: 0; margin: 0; font-size: 12px; text-transform: uppercase; color: #555; border: 1px solid #ebebeb; font-weight: normal;}
#sidebar h2.widgettitle span {padding: 8px; display: block; border: 1px solid #fff; font-weight: normal; background: url('../images/widget_bg.jpg') repeat-x center;}



/* -----A TAG STUFF----- */
a {text-decoration:none;}
a:hover {text-decoration:underline;}


/* -----PAGE STUFF----- */
#contentContainer {width: 100%; background: #f5f5f5 url('../images/content_tile.jpg') repeat-y center; border: 1px solid #fff; border-width:0 0 1px;}
#content {padding:30px 0 0; margin:0 auto;  width:960px; background: #f8f8f8;}
#main {width:640px; float: left; padding:0; margin: 0; overflow: hidden; line-height: 1.5em;}
#main-full {width:100%; float: left; padding:0; margin: 0; overflow: hidden; line-height: 1.5em;}
#sidebar {float: right; margin: 0; overflow: hidden; width: 290px;}

/*---------HEADER STUFF-----------*/
#headerContainer {width: 100%; background: #4B72A6 url('../images/header_tile.png') repeat-x;}
#header {height:259px; margin:0 auto;  width:960px; position: relative; color:white;}
#topBarContainer {width: 100%; background-color:black;}
#topBar {width:960px; height: 42px; color: #eee; font-size: 10px; margin:0 auto;}
#topBar #today {padding: 13px 0 0;}
#logo {margin: 0; padding: 41px 0 0;}
#logo a {margin: 0; padding: 0; display: block; height: 86px; width: 601px; overflow: hidden; background: url('../images/logo-trans.png') no-repeat; text-indent: -999px;}
#navigation {padding:0;margin:0; width: 100%; height: 42px; position: absolute; bottom: 0; _bottom:-1px; left:0; z-index:6000;}

/*--------FOOTER STUFF--------*/
#footerContainer {width: 100%; background: #b8b8b8 url('../images/footer_tile.jpg') repeat-y center; border: 1px solid #9c9c9c; border-width: 1px 0 0;}
#footer {padding:20px 0 0; margin:0 auto;  width:960px; clear:both;}
#footer a {color:#fff;}
#bottomBarContainer {width: 100%; background: #1a1a1a;}
#bottomBar {width:960px; margin: 0 auto; height: 53px; color: #eee;}
#bottomBar #copyright {font-size: 10px; margin:0; padding:20px 0 0;}
#bottomBar #socialbuttons {float: right; font-size: 10px; padding:20px 0 0; text-transform: uppercase; letter-spacing: 1px;}
#bottomBar #socialbuttons a {color: #fff;}

/*-------MAIN NAVIGATION STUFF--------*/
#menu {padding: 0; margin:0; list-style:none; position:relative; width:100%; z-index: 4000;}
#menu li {list-style:none; padding:0; margin:0; position:relative; float: left; line-height: 42px;}
#menu li a {margin: 0; padding: 0 13px; display: block; line-height: 42px; color: #fff; text-transform: uppercase; font-size: 12px;}
#menu li a:hover {text-decoration: none; background: url('../images/active_nav_bg.jpg') repeat-x; color: #999;}
#menu li ul {margin:0; padding:0; list-style:none; display:none; position:absolute; width:200px; z-index:3000; top:41px; _top:42px;/*IE6 fix*/ left: -1px; background: #F8F8F8; border: 1px solid #ddd; border-width: 0 1px 1px;}
#menu li ul li {margin:0; position:relative; border: 1px solid #fff; border-width: 0 1px 1px; border-top:1px solid #ebebeb; line-height: 20px; padding:0;}
#menu li ul li a {padding:0 10px; margin:0; width:178px; color: #999; font-size: 12px; line-height: 30px;}
#menu li ul li a:hover {background: none; color: #555;}
#menu li ul li ul {position:absolute;top:-1px; left:199px; margin:0; z-index: 2000;}
#menu li:hover ul ul, 
#menu li:hover ul ul ul, 
#menu li:hover ul ul ul ul {display:none;}
#menu li:hover ul, 
#menu li li:hover ul, 
#menu li li li:hover ul, 
#menu li li li li:hover ul {display:block;}
#menu li.current_page_item, #menu li.current-cat {background: url('../images/active_nav_bg.jpg') repeat-x;}
#menu li li.current_page_item, #menu li li.current-cat {background:none;}
#menu li.current_page_item a, #menu li.current-cat a {color: #555;}

/* -----SEARCH STUFF----- */
#searchform #s {width:200px; padding: 5px;}
#searchform #searchsubmit {cursor: pointer; padding:5px;} 
#searchform #searchsubmit:hover {text-decoration: none;}

#searcher {float: right; padding:2px 0 0;}
#searcher #searchform #s {font-size:9px; width:200px; padding: 3px; background: #1f1f1f; border: 1px solid #3b3b3b; color: #bbb; text-transform: uppercase; margin: 0 4px 0 0;}
#searcher #searchform #searchsubmit {
cursor: pointer; 
padding:0px; 
width: 38px; 
height: 22px; 
background: transparent url('../images/search_btn.jpg') no-repeat 0 2px !important; 
border: none; 
overflow: hidden; 
text-indent: -999px;
line-height: 0;
} 


/*---FORM STUFF---*/
input, textarea {padding: 5px;}
input {width:170px; margin:5px 0 0 0; }
textarea {width:100%;}
input[type="submit"] {padding:5px 0; cursor: pointer;}

/* -----UNIVERSAL STUFF----- */
code {font:1.1em 'Courier New', Courier, Fixed;}
acronym,abbr,span.caps {font-size:.9em;letter-spacing:.07em;cursor:help;}
p img {max-width:100%;padding:0;}
img.centered {display:block;margin:0 auto;}
img.alignright {display:inline;margin:0 0 10px 10px;}
img.alignleft {display:inline;margin:0 10px 10px 0;}
.alignright {float:right;}
.alignleft {float:left;}
acronym.abbr {border-bottom:1px dashed #999;}
blockquote {padding-left:20px;margin:15px;}
blockquote cite {display:block;margin:5px 0 0;}
.center {text-align:center;}
hr {display:none;}
a img {border:none;}
img#wpstats {width:0;height:0;border:none;overflow:hidden;padding:0;}
#hideme {visibility:hidden;}
.hidden {visibility: hidden; display: none;}
.rssSummary {padding-bottom:15px;}
.clear {clear: both;}
p.clear {height:1px; width:1px; margin:0; padding:0;}
.hide {display: none;} 